/* @import url('https://fonts.googleapis.com/css?family=Roboto:100,400,900'); */
@import url('https://fonts.googleapis.com/css?family=Anton');
/* @import url('https://fonts.googleapis.com/css?family=Montserrat:400,700'); */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600&display=swap'); /*Lui Vuiton*/
/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700'); */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800&display=swap'); /*mersedes*/

/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;600&display=swap');
/* *{
  height: 100vh;
} */
body{
  position: relative;
  background-color:black;
  margin: 0;
  padding: 0;
  height: 100vh;
}
.header-section{
  padding-bottom: 2rem;
}
.main-nav__items li:nth-child(3) {
  background-color: rgb(107, 101, 101);

}
.main-nav__items li:nth-child(1) {
  background-color: black;
}
.mobile-nav__items li:nth-child(2) {
  background-color: rgb(107, 101, 101);
width: 100%;
text-align: center;
}
/*   background-color: turquoise; */
.mobile-nav__items li:nth-child(1) {
  background-color: turquoise;
width: 100%;
text-align: center;
}
main{
  position: relative;
  background-color: white;
  top: 11rem;

  /* height: auto; */
  left: 0;
  font-family: 'Times New Roman', Times, serif;
}
/* Cooks image  start*/
.cooks {
  /* width: 100vw; */
  height: 38rem;
  background-color: black;
  margin-top: 0rem;
  /* display: block; */
}
.cooks img {
  /* width: 43.3rem;
  height: 23rem; */
  /* height: auto;
  width: 35vw; */
  width: 100%;
  height: 35rem;
  margin: 0;
  object-fit: cover;
  /* border: 3px strong rgb(179, 132, 132); */
  zoom: 102%;
}
/* Cooks image end */
.we-are, .we-are span{
  width: 100%;
  margin: 0;
  padding: 0;
  /* display: block;
  justify-content: center;
  align-items: center; */
  text-align: center;
  font-size: 1.2rem;
  padding: 1.5rem;
}
/* Prod Group-List start */
.food-group{
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.food-group_img{
  width: 50vw;

}
.food-group_img img{
  width: 90%;
  object-fit: cover;
}


/* Prod Group-List end */

/* .cstm-list__title{
  margin-left: 2.5rem;
}
.co-business ul{
  margin-left: 1.5rem;
padding: 1.5rem;
}
.co-business ul li{
  padding: 1.0rem;
}
span{
  font-size: 1.4rem;
  font-weight: 700;
}
.customer-list{
  font-size: 1.3rem;
} */
/*v-ton section in US*/
.vton-section {
  position: relative;
  top: 1rem;
  margin-top: 0%;

}


/*End of V-section in US*/



.footer{
  top: 185rem;
  position: absolute;


  height: 3rem;
}
@media (max-width:26rem) {
  .footer{
    top: 230rem;
    /* bottom: 0; */
    margin: 0;
    padding: 0;
    position: absolute;    
    height: auto;
  }
  
}
