/* @import url('https://fonts.googleapis.com/css?family=Roboto:100,400,900'); */
@import url('https://fonts.googleapis.com/css?family=Anton');
/* @import url('https://fonts.googleapis.com/css?family=Montserrat:400,700'); */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600&display=swap'); /*Lui Vuiton*/
/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700'); */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800&display=swap'); /*mersedes*/

/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
  font-family: 'Roboto',  sans-serif;
  /* font-family: 'Times New Roman', Times, serif; */
  background-color: cornsilk;
  margin: 0;
  padding: 0;

}
button:hover{
  cursor: pointer;
}
h2 {
  font-size: 1.8rem;
}

.header-section {
  position: fixed;
  top: 0;
  left: 0;
  padding-top: 1.3rem;
  padding-bottom: 0;
  height: auto;
  background-color: black;

  display: inline-block;

  z-index: 200;
}
.main-header {
  top: 0;
  left: 0;
  width: 100vw; /*100*/
  height: auto;
  display: flex;
  align-items: center;
  z-index: 100;
}
.upper-header {
  top: 0;
  left: 5rem;
  height: 2.7rem;
  width: 100vw;
  padding-bottom: 4rem;
  display: flex;
  /* align-items: center; */
  justify-content: left;
  /* margin: 1rem 1rem; */
}
.upper-header div {
  top: 0;
  left: 0;
  height: 4rem;
  /* margin: 1rem 1rem; */
}
.upper-header h1 {
  margin-left: 3rem;
  /* color: rgba(248, 244, 244, 0.932); */
  color: #e8ebf3;
  font-family: 'Times New Roman', sans-serif;
  font-size: 2rem;
  font-weight: Extra-light 200;
  text-transform: capitalize;
  letter-spacing: 0.1rem;
}

.main-header__brand img {
  height: 90%;
  width: 120%;
}

.header-main-nav {
  position: fixed;
  background-color: black;
  left: 12rem;
  width: 78vw;
  height: 2rem;
  /* display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex; */
  display: flex;
  align-items: flex-end;
}
.header-main-nav {
  min-height: 5rem;
}
.header-main-nav h1 {
  width: 76vw;
  margin: 0.2rem 0.5rem;
}
.main-nav {
  background-color: black;
  width: 100vw;
  height: 2rem;
  padding-top: 3rem;
  /* display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  font-family: 'Oswald', sans-serif;
  font-size: 1.5rem;
  font-weight: 300;
  text-transform: capitalize;
  letter-spacing: 1.4rem;
  text-align: center;
}
.main-nav__items {
  width: 90vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}
.main-nav__item {
  width: auto;
  height: 2rem;
  padding: 0.5rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-nav__items li:nth-child(1) {
  background-color: rgb(107, 101, 101);
  color: rgb(139, 126, 51);
}
.main-nav__item a,
.mobile-nav__item a {
  text-decoration: none;
  color: rgba(248, 244, 244, 0.966);
  font-size: 1.3rem;
  font-weight: 300;
  letter-spacing: 0.15rem;
}

.main-nav__item a:hover,
.main-nav__item a:active {
  color: white;
  /* font-size: 1.4rem; */
  font-weight: 600;
  cursor: pointer;
}

.mobile-nav__item a:hover,
.mobile-nav__item a:active {
  color: rgba(117, 115, 115, 0.966);
  font-size: 1.4rem;
  font-weight: 600;
  cursor: pointer;
}
.mobile-nav__items li:nth-child(1) {
  background-color: rgb(107, 101, 101);
  width: 100%;
  text-align: center;
}

.mobile-header__brand,
.toggle-button {
  display: none;
}
.mobile-nav {
  display: none;
  position: fixed;
  z-index: 101;
  top: 0;
  left: 0;
  background: white;
  width: 76vw;
  height: 100vh;
}

.mobile-nav__items {
  width: 90%;
  height: 100%;
  list-style: none;
  margin: 0 auto;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mobile-nav__item {
  margin: 1rem 0;
}

.mobile-nav__item a {
  font-size: 1.5rem;
}
/* ==FIRST SECTION====== */
.first-section {
  /* position: relative; */
  font-family: 'Oswald', sans-serif;
  top: 11rem;
  margin-top: 9rem;

  left: 0;
  /* margin-top: 30rem; */
  /* width: 100vw; */
  height: 37rem;
  /* margin: 5rem; */
  /* margin: 2rem 1rem; */
  background: inherit;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;

  z-index: 50;
}
/*main picture section*/
.first-section__div {
  /* width: 100vw; */
  height: 37rem;
  /* margin-top: 2.5rem; */
  /* display: block; */
}
.first-section__div img {
  /* width: 100%; */
  height: 37rem;
  margin: 0;
  object-fit: cover;
  /* border: 3px rgb(179, 132, 132); */
  zoom: 102%;
}
img:hover {
  /* transform: scaleX(-1) scaleX(102%) scaleY(102%); */
  transform: scaleX(101%) scaleY(101%);
  /* transform: scaleX(115%); */
  /* transform: scaleY(115%); */
}

/* vuton like section wout footer */
.vton-section {
  position: relative;
  top: 3rem; /*01.09.2021 to no black blank*/
  margin: 0;
  margin-top: 1rem;
  padding: 0;
  border: 1px rgba(255, 255, 255, 0.507);
  background-color: cornsilk;
  /* font-family: 'Roboto', sans-serif; */
  font-family: 'Open Sans', sans-serif;
  font-size: 1.2rem;
  font-weight: 300;
  text-align: center;
  /* text-transform: capitalize; */
  /* letter-spacing: -2px; */
  /* letter-spacing: 0.03rem; */
  /* text-shadow: 0.3rem 0.3rem 0.3rem #000; */
  /* display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center; */
  /* height: 150rem; */
  height: auto;
  width: 100vw;

  /* margin: 0; */
  z-index: 50;
}
.collection-title {
  padding: 2rem 2rem;
}
.с-show-button-container {
  height: 4rem;
  text-align: center;
  padding: 0.1rem;
  /* vertical-align: top; */
}
.btn-show {
  height: 3rem;
  background-color: rgba(15, 14, 15, 0.575);
  color: #fff;
  /* font-family: "Nunito", sans-serif; */
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: 0.1rem;
  /* vertical-align: ; */

  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  width: auto;
  height: 3rem;

  z-index: 101;
}

.btn-show:hover {
  opacity: 0.9;
  cursor: pointer;
}

.btn-show:focus {
  outline: none;
}
.v {
  display: flex;
  flex-direction: column;
}

.prod-row {
  /* height: 35rem; */
  width: 100vw;
  min-width: 17rem;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  font-size: 1.2rem;
  color: #fff;
  border: 1px solid rgb(234, 232, 228);
  /*border-left: none;
  border-right: none; */
}
.prod-row-art {
  height: auto;
  width: 90vw;
  /* min-width: 19rem; */
  /* background-color: ; */
  /* padding: 2rem; */
  margin: 0;
  padding: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  /* flex-wrap: wrap; */
  /* flex-direction: column; */
  border-right: 1px solid rgb(234, 232, 228);
}
/* .prod-row-art div{
  padding: 3rem;
} */
.prod-row-art img {
  width: 30rem;
  height: 19rem;
  object-fit: contain;
}

.prod-row-art.office-location :hover,
.prod-row-art.office-location :active {
  zoom: 170%;
}
.prod-row-art h2 {
  color: rgb(21, 22, 22);
  padding-left: 1rem;
  font-size: 1.2rem;
  font-weight: 700;
  text-align: left;
  /* text-shadow: 0.1rem 0.1rem 0.1rem rgb(0, 0, 0); */
}
.prod-row-art p {
  color: rgb(14, 18, 20);
  font-size: 0.9rem;
  /* text-shadow: 0.1rem 0.1rem 0.1rem rgb(0, 0, 0); */
}
.prod-row-art__icons {
  column-count: 3;
  column-gap: 0.5rem;
}
.prod-row-art__icons img {
  width: 10rem;
  height: 10rem;
  object-fit: contain;
}
/* Footer */
.footer {
  position: relative;
  /* bottom: 10vh; */
  background-color: black;
  /* margin-top: 3rem; */
  top: 17rem;
  /* bottom: 0rem; */
  left: 0;
  width: 100vw;
  /* height: 10vh; */
  display: flex;
  flex-direction: row;
  /* align-items: center; */
  justify-content: space-evenly;
  flex-wrap: wrap;
  z-index: 50;
}
.footer div {
  width: auto;
  height: 3rem;
  text-align: center;
  justify-content: center;
  text-align: center;
}

/* .footer div:nth-of-type(even) {
  background-color: rgb(59, 58, 58);
} */

.footer a {
  font-size: 1.3rem;

  color: rgba(255, 255, 255, 0.794);
  text-decoration: none;
}
.footer a:hover,
.footer a:active {
  color: white;
}

@media (max-width: 73rem) {
  .footer {
    top: 14rem;
  }
  .footer div {
    height: 1.8rem;
  }
  .footer a {
    font-size: 1rem;
    /*   
    color: rgba(255, 255, 255, 0.794);
    text-decoration: none; */
  }
}
@media (max-width: 51rem) {
  .mobile-nav__items,
  .main-nav__items {
    width: 100vw;
  }
  .main-nav__item a,
  .mobile-nav__item a {
    font-family: 'Oswald', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    text-transform: capitalize;
    letter-spacing: 0.2rem;
    padding: 0;
  }
  .v-2-right-upper button {
    padding: 0.5rem;
    letter-spacing: -1px;
  }
  .footer a {
    font-size: 1.2rem;
  }
}
@media (max-width: 26rem) {
  * {
    margin: 0;
    padding: 0;
  }
  .header-section {
    padding: 0;
    width: 100vw;
  }
  .main-header {
    display: none;
  }
  .backdrop {
    position: fixed;
    display: none;
    width: 100vw;
    height: 100vh;
    z-index: 150;
    background: rgba(0, 0, 0, 0.4);
  }
  .upper-header {
    display: none;
    padding-bottom: 0;
  }
  .first-section{
    top: 6rem;
    margin-top: 6rem;
    height: auto;
  }
  .first-section__div{
    height: auto;
  }
  .first-section__div img{
  width: 100%;
  height: auto;
  object-fit: cover;
}
.vton-section{
  top: 0;
}
  .v {
    flex-direction: column;
    width: 100%;
  }

  .v-2-left,
  .v-2-right,
  .v-2-right-upper,
  .v-2-right-lower {
    width: 100vw;
    padding-left: 0;
    padding-right: 0;
    letter-spacing: normal;
  }
  .v-2-right-upper button {
    padding: 0;
    letter-spacing: 1.5px;
  }
  .v-2-right-lower img,
  .v-2-left img {
    width: 90vw;
  }
  .collection-title{
    padding: 0.4rem;
  }
  .collection-title h1 {
    padding: 0.02rem;
    font-size: 1.5rem;
  }
  .prod-row {
    width: 100vw;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .prod-row-art {
    width: 100%;
    letter-spacing: normal;
    padding: 0;
  }
  .prod-row-art img {
    width: 45%;
    height: auto;
    object-fit: cover;
  }
.prod-row-art h2{
  width: 35%;
  padding: 0;
  font-size: 0.7rem;
  letter-spacing: -0.08rem;

}
.prod-row-art__icons {
  column-count: 3;
  column-gap: 0.1rem;
  padding-left: 0.1rem;
}
.prod-row-art__icons img {
  padding-left: 0.1rem;
  width: 4rem;
  height: 4rem;
  object-fit: cover;
}
.prod-row-art__icons h2{
  font-size: 1.0rem;
  /* width: 80%; */
}
  /* Mobile Navigation */
  .main-nav,
  .main-header__brand {
    display: none;
  }
  .mobile-nav {
    display: flex;
    color: black;
    background-color: blanchedalmond;
    display: none;
  }
  .main-header {
    /* top: -1rem; */

    /* position: fixed;
    top: 0;
    left: 0;  */
    height: auto;
    width: 100%;
    background-color: tomato;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .mobile-header {
    top: 0rem;
    left: 0;
    position: fixed;
    height: 5.6rem;
    width: 100vw;
    /* background-color:rgb(44, 41, 41); */
    background-color: tomato;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    z-index: 0;
  }
  .mobile-header__brand,
  .toggle-button {
    display: block;
  }
  .toggle-button {
    width: 5rem;
    height: 5rem;
    border: 0;
    /* background-color: rgb(36, 34, 34); */
    background-color: tomato;
    /*07.08.2021*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .toggle-button__bar {
    width: 3rem;
    height: 0.4rem;
    margin: 0.4rem;
    /* padding: 0.5rem; */
    /* background-color: rgba(1, 12, 12, 0.781);
     */
    background-color: rgb(238, 231, 231);
  }
  .mobile-header__brand {
    width: auto;
    height: auto;
  }
  .mobile-header__brand img {
    height: 6rem;
    width: auto;
  }
  .open {
    display: block;
  }
  .mobile-nav {
    top: 0;
    left: 0;
    width: 70vw;
    height: 70vh;
    margin: 0;
    background-color: turquoise;
  }
  #mob-menu__close {
    background-color: violet;
  }
  .btn-show {
    font-size: 1.2rem;
  }
  .mobile-nav__items {
    top: 0;
    left: 0;
    top: 0;
    width: 70vw;
    background-color: turquoise;
    margin: 0;
  }
  .mobile-nav__item a {
    font-size: 1.5rem;
  }
  section.vton-section h1 {
    font-size: 1.3rem;
  }
}
