/* @import url('https://fonts.googleapis.com/css?family=Roboto:100,400,900'); */
@import url('https://fonts.googleapis.com/css?family=Anton');
/* @import url('https://fonts.googleapis.com/css?family=Montserrat:400,700'); */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600&display=swap'); /*Lui Vuiton*/
/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700'); */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800&display=swap'); /*mersedes*/

/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;600&display=swap');

body{
  background-color:cornsilk;
  margin: 0;
  padding: 0;
  /* height: 100vh; */
}
.main-nav__items li:nth-child(2) {
  background-color: rgb(107, 101, 101);

}
.main-nav__items li:nth-child(1) {
  background-color: black;
}
/* flag section start */
.RF_flag_and_logo{
  /* position: relative;
  top: 7rem; */
  margin-top: 7rem;
width: 90vw;
height: 10rem;
text-align: center;
}
.RF_flag_and_logo img{
  width: 70%;
}
/* flag section start */
.co-business{
  /* position: relative; */
  /* top: 0rem; */
  margin-top: 38rem;
  margin-left: 10rem;
  font-family: 'Times New Roman', Times, serif;
  /* text-align: center; */
}
.we-are{
  font-size: 1.8rem;
  padding: 1.5rem;
}
.cstm-list__title{
  margin-left: 2.5rem;
}
.co-business ul{
  margin-left: 1.5rem;
padding: 1.5rem;

}
.co-business ul li{
  padding: 1.0rem;
  list-style-type: none;
  margin-left:0px;
  padding-left:0px;
  /* float: left; */
  display: flex;
  justify-content: left;
  align-items: center;
}

.customer-list{
  font-size: 1.3rem;
  padding-left: 1rem;
}

li.customer-list img{
  /* width: 3.2%; */
height: 2.4rem;
  margin: 0;
  padding-right: 0;
}
.customer-list h6{
  padding-left: 1rem;
 text-align: right;
}

span{
  font-size: 1.4rem;
  font-weight: 700;
}


.footer{
  /* position: absolute;
  top:114rem; */
  margin-top: 2rem;
  width: 100vw;
  /* bottom: 0; */
  height: 3rem;
}
@media (max-width:26rem) {
  .mobile-nav__items li:nth-child(3) {
    background-color: rgb(107, 101, 101);
    width: 100%;  
    text-align: center;
  }
  .mobile-nav__items li:nth-child(1) {
    background-color: turquoise;
  }
  .RF_flag_and_logo{
    margin-top: 6rem;
    width: 100vw;
  }
  .co-business{
    margin-left: 0;
    margin-top: -1rem;
  }
  .co-business h2{
 font-size: 1.1rem;
  }
  .customer-list{
    margin-left: 0.2rem;
    font-size: 0.7rem;
  }
  .customer-list h6{
    padding-left: 0.2rem;
  }
  .customer-list span{
    font-size: 0.7rem;
  }
  .footer{
    top: 195rem;
    /* bottom: 0; */
  
    position: absolute;    
    height: 7rem;
  }
  
}
