/* @import url('https://fonts.googleapis.com/css?family=Roboto:100,400,900'); */
@import url('https://fonts.googleapis.com/css?family=Anton');
/* @import url('https://fonts.googleapis.com/css?family=Montserrat:400,700'); */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600&display=swap'); /*Lui Vuiton*/
/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700'); */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800&display=swap'); /*mersedes*/

/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;600&display=swap');
* {
  /* height: 100vh; */
  box-sizing: border-box;
}
body {
  background-color: white;
  margin: 0;
  padding: 0;
  height: 100vh;
}
.main-nav__items li:nth-child(6) {
  background-color: rgb(107, 101, 101);
}
.main-nav__items li:nth-child(1) {
  background-color: black;
}
main {
  position: relative;
  top: 10rem;
  left: 0;
  font-family: 'Times New Roman', Times, serif;
}
h3 {
  font-size: 1.8rem;
  padding: 1.5rem;
}
h4 {
  padding: 1.5rem;
}
.contacts-list {
  margin-left: 1.5rem;
  padding: 1.5rem;
}

.contacts-list li {
  padding: 1rem;
  font-size: 1.4rem;
}
span {
  font-size: 1.4rem;
  font-weight: 700;
}
/* [class*='copyrights-pane'] {
  display: none !important;
} */
/* [class*="ground-pane"]{
  filter:grayscale(1);
} */
.map {
  width: 50rem;
  height: auto;
  min-height: 40rem;
  padding-right: 1rem;
  /* background-color: cornflowerblue; */
  border: 0;
}
.map img{
  height: 100%;
  z-index: 200;

}

.balloon{
  padding: 0;
  background-color: rgb(208, 220, 241);

}
.ymaps-2-1-79-balloon__content,
.ymaps-2-1-79-balloon__layout{
    background-color: rgb(208, 220, 241);

}
.ymaps-2-1-79-balloon__close-button{
background-color: rgb(40, 61, 156);
    border-radius: 0.3rem;
}
.ball-name{
  font-weight: bolder;
}
.footer{
bottom: 0;
  height: 4rem;
  flex-wrap: wrap;
}

/* .footer {
  width: 100%;
  height: 5rem;

} */
/* .footer h2 {
  height: 3rem;
  width: 100%;
  color: red;
  background-color: rosybrown;
  z-index: 50;
} */
/* .footer-tooltip {
  position: absolute;
  /* visibility: hidden; 
  display: none;
  top: -5rem;
  left: 0;
  width: 100%;
  /bottom: 3rem; 
  background-color: rgb(221, 94, 94);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

 Position the tooltip */

  /* z-index: 10;
}  */
/* .footer :active,
.footer:hover, 
.footer-tooltip {
   visibility: visible; 
  display: none;
  visibility: visible;
}*/

@media (max-width: 26rem) {
  .mobile-header {
    position: fixed;
  }
  .mobile-nav {
    position: fixed;
  }
  .mobile-nav__items {
    position: fixed;
  }
  .mobile-nav__items li:nth-child(6) {
    background-color: rgb(107, 101, 101);
    width: 100%;
    text-align: center;
  }
  .mobile-nav__items li:nth-child(1) {
    background-color: turquoise;
  }
  .footer {
    position: relative;
    /* top: 1.5vh; */
    margin-top: 5rem;
    flex-wrap: wrap;
    height: auto;
  }

  /* Mobile Navigation */
  
  .map{
    width: 98%;
    height: auto;
  }
  .balloon{
    position: static;
    width: 100%;
    height: 40%;
  }
}
@media (max-width: 51rem){
  .map{
    width: 90%;
    height: auto;
  }
}
